/* app css stylesheet */

body {
  padding-top: 50px;
}
nav.navbar ul.dropdown-menu{
  max-height: 90vh;
}

.overflow{
  overflow-x: scroll;
}

.container{
  width: 100%!important;
  margin: 0!important;
  padding: 0!important;
}
a[dropdown-toggle]{
  cursor: pointer;
}	